@import url("https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Libertinus Math";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  padding: 20px;
}

.grid_div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
  font-size: 15px;
}

#info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
  margin: 20px 0;
}

.card_div {
  width: 300px;
  box-shadow: 0 5px 15px whitesmoke;
  border-radius: 30px;
  border: 1px solid #fff;
  margin: 30px 0;
}

.card_div:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

img {
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.grid_div > p {
  text-align: center;
  padding: 3px 0;
}

.name_div > h3 {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
}

.name_div {
  font-weight: 600;
  padding: 20px;
  background-color: antiquewhite;
  height: 200px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

h1 {
  color: red;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

#loader {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.poster {
  display: block;
  margin: 30px auto;
  width: 25%;
  height: 500px;
  object-fit: fill;
  border-radius: 20px;
  box-shadow: 0 5px 15px whitesmoke;
  cursor: pointer;
}

.poster:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

h4 {
  font-size: x-large;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

.plot {
  width: 50%;
  margin: auto;
  display: block;
}

.poster-scroll-container {
  overflow: hidden;
  width: 100%;
  height: 360px;
  padding: 10px;
  background-color: #111;
  margin-bottom: 30px;
  padding: 30px 0;
}

.poster-scroll {
  display: flex;
  gap: 20px;
  animation: scroll 30s linear infinite;
}

.poster-scroll img {
  height: 300px;
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 3px 10px whitesmoke;
}

.poster-scroll img:hover {
  transform: scale(1.15);
}

.poster-scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-70%);
  }
}

.images {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid;
}

.images:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: rgb(49, 48, 48);
}

.child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.child1 > a {
  padding: 7px;
  font-size: x-large;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.child1 > a:hover {
  background-color: #fff;
  color: black;
  transition: all 0.5s ease-in-out;
  transform: scale(1.07);
}

#back > a {
  text-decoration: none;
}

#back {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#back.show {
  opacity: 1;
  pointer-events: auto;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  color: gray;
  margin-block: 0.5em;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 0.25em solid gray;
  border-radius: 100vh;
}

@media (max-width: 320px) {
  #info {
    grid-template-columns: repeat(1, 1fr);
  }
  .card_div,
  img {
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  .card_div {
    height: 780px;
  }
  .name_div {
    height: 360px;
  }
}