@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Roboto;
}


#cart_num {
  text-align: center;
  font-size: small;
  font-weight: 900;
  padding: 2px 1.5px;
  position: absolute;
  top: 74.5px;
  border-radius: 50%;
  background: tomato;
  color: whitesmoke;
  height: 18px;
  width: 18px;
  left: 61.9%;
  cursor: pointer;
}
/******pagination css***/
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px  0px;
  gap: 20px;
}
span{
  font-size: 19px;
  font-weight: bold;
}
#next,#prev{
  width: 150px;
  height: 53px;


  
  font-size: 23px;
  font-weight: bold;
  border-radius: 30px;
}
/******pagination css end***/

.logo-img {
  width: 70px;
  height: 80px;
  border-radius: 50%;
  background: #fff(0, 0, 0, 0.5);
  object-fit: fill;
}
select {
  height: 50px !important;
  border-radius: 8px;
  width: 120px !important;
  text-align: center;
  font-size: 22px;
  color: rgb(54, 53, 53);
}
nav {
  border: 2px solid;
  border-radius: 15px;
  height: 85px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  /* margin: 20px 0; */
  padding: 0px 0px;
  background-color: #fff;
}
.serchbar {
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 7px;
}
ul > img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

ul > input {
  width: 270px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
  font-size: 23px;
  cursor: pointer;
}

option,
select {
  font-size: large;
  font-weight: 700;
  width: 100px;
  height: 30px;
}

select {
  border: 2px solid;
}
.detailDiv {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px;
  padding: 10px 0;
}

#info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  text-align: center;
  margin: auto;
  width: 95%;
}
.card_div {
  width: 450px;
  height: 605px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #fff;
}

img {
  height: 280px;
  padding: 10px 0px;
  width: 350px;
  object-fit: cover;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card_div > p,
.detail_div_1 > h3 {
  padding: 20px 0;
}
h4 {
  padding: 10px 0px;
  font-size: 20px;
}
h3 {
  padding: 5px 0px;
}
.detail_div > p {
  padding: 2px 0 !important;
}

.detail_div_1 {
  padding: 20px 20px;
}
.reating_1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}
.text_div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.shop_img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.shop_card {
  width: 120px;
  height: 100px;
}
.parents_div {
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
/***/

/* .placeholder {
  background-color: #b3b3b3;
  background-image: linear-gradient(to right, #999, #ccc);
  background-size: 200% 100%;
  animation: loading 1s linear infinite;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 0 10px;

}

@keyframes loading {
  to {
    background-position: -170% 0;
  }
}

.placeholder * {
  visibility: hidden;
}
 */

.slide {
  border-radius: 15px;
  position: absolute;
  top: 140px;
  height: 100vh;
  width: 20%;
  text-align: left;
  /* border: 2px solid red; */
  padding: 10px 20px;
  background-color: whitesmoke;
  left: -100%;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.slide.active {
  left: 10px;
}

.slide > ul {
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.slide > h3 {
  margin-top: 10px;
  font-size: 30px;
}

.slide > ul > li {
  margin: 15px 0;
  font-size: larger;
}

#activeFilter {
  display: flex;
  align-items: center;
  gap: 5px;
  /* width: fit-content; */
  margin: 10px;
  font-weight: bold;
  padding: 5px 15px;
}

span {
  padding: 5px 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#activeFilter > button,
span {
  font-size: larger;
  background-color: #ccc;
}

#activeFilter > button {
  margin-left: -8.5px;
  height: 31px;
  width: 10px;
  font-weight: 700;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: 0;
  padding: 0;
}

 #activeFilter > button >img{
  height: inherit;
  object-fit: contain;
  width: 100px;
} 
/*****Button*/

.cart,.checkout_button{
  width: 45%;
  border-radius: 10px;
  font-size: 19px;
  font-weight: bold;
  background-color:chocolate;
  border: transparent;
  margin:22px 0px;
  height: 55px;
}
.cart:hover{
  background-color:palevioletred;
  transition: all 0.3s ease-in-out;
  
}
.checkout_button:hover{
  background-color:palevioletred;
  transition: all 0.3s ease-in-out;
  
}
.div1{
  display: flex;
  justify-content: center;
  gap: 8px;
}