@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bitcount Prop, Inter;
  list-style: none;
  text-transform: capitalize;
}
a{
    text-decoration: none;
    color: inherit;
}

#home-page > nav > p > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
nav{
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  padding: 0px 20px;
  font-size: 21px;
}

ul {
  margin: 0;
  justify-content: space-evenly;
}

nav > p > svg {
  height: 30px;
  width: 30px;
}

#dataInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.card-div > img {
   height: 250px;
   margin: 10px 90px;
  width: 250px;
 object-fit: cover;
 border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-div {
  width: 450px;
 height: 650px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 30px;
 padding: 10px 15px;
 text-align: center;
}

.card-div > button,
.form > section + input {
  padding: 15px 60px;
  margin: 15px 0px;
  font-size: 19px;
  border-radius: 10px;
  background: rgba(92, 92, 241, 0.856);
  border: none;
  color: #fff;
}
.card-div > button:hover{
  background-color: red;
  transition: all 0.5s ease-in-out;
  color: black;
}
.form > section + input:hover{
   background-color: red;
  transition: all 0.5s ease-in-out;
  color: black;
}
.title{
    padding: 5px 0px;
    font-size: 17px;
}
.text_div{
       white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
}
.pricingDiv_1{
    display: flex;
    gap:20px;
   justify-content: center;
   align-items: center;
     padding: 10px 0px; 

}
.category_1{
    padding: 20px 0px;
}

.cartLength-active {
    text-align: center;
    padding: 1px;
    position: absolute;
    top: 38px;
    border-radius: 50%;
    background: tomato;
    height: 29px;
    width: 40px;
    left: 60%;
}


/* ===============     form  css ================== */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* border: 1px solid red; */
  gap: 10px;
}

label{
  font-size: 20px;
}
.form > section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form > section > input {
  padding: 20px 10px;
  width:300px;
  font-size: 18px;
  border-radius: 10px;
  border: 0.5px solid gray;
}
.btn_1{
  width: 15%;
  height: 60px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  background-color: crimson;
  text-align: center;
  border-radius: 25px;
  margin: 30px 20px;
  border: transparent;
}
.btn_1:hover{
  background-color: aqua;
  transition: all 0.5s ease-in-out;
  color:black
}